:root {
  --primary-font: 'Montserrat', sans-serif;
  --primary-color: #ffffff;
  --secondary-color: #ff9f1c;
  --bg-color: rgba(0, 0, 0, 0.700);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./images/bg-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    color: var(--primary-color);
    font-family: var(--primary-font);
    line-height: 1.5;
}

#content {
    display: grid;
    grid-template-rows: minmax(min-content, 90px) 1fr minmax(min-content, 90px);
    height: 100%;
}

/* FIXED ELEMENTS */
#content .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2rem;
    border-bottom: 2px solid var(--primary-color);
    background-color: var(--bg-color);
}

#content footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid var(--primary-color);
    background-color: var(--bg-color);
    width: 100%;
}

/* HOME PAGE ELEMENTS */
#content .middle-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.300);
}

#content .middle-content p:first-of-type {
    font-family: 'Herr Von Muellerhoff', cursive;
    color: var(--secondary-color);
    font-size: 8rem;
    margin-bottom: -6.5rem;
}

#content .middle-content h1 {
    font-size: 4rem;
    margin-bottom: -2rem;
}

#content .middle-content p:last-of-type {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

#content .middle-content button {
    padding: 0.7rem 1rem;
    font-family: var(--primary-font);
    background-color: var(--secondary-color);
    border: 1px solid #000000;
    font-size: 1rem;
}

#content .middle-content button:hover {
    cursor: pointer;
    background-color: #ec9721;
}

/* CONTACT PAGE ELEMENTS */
#content .contact-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10rem;
}